TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_FROM_NUMBER=+1XXXXXXXXXX
TWILIO_PUBLIC_BASE_URL=https://curvy-hands-smash.loca.lt
AUTO_SYNC_TUNNEL_URL=false
TUNNEL_PROVIDER=static
NGROK_API_URL=http://127.0.0.1:4040/api/tunnels
CALL_PROVIDER=vapi
TWILIO_TTS_VOICE=woman
CALL_LOG_DIR=call_logs
VAPI_API_KEY=your_vapi_api_key_here
VAPI_ASSISTANT_ID=your_vapi_assistant_id_here
VAPI_PHONE_NUMBER_ID=your_vapi_phone_number_id_here
VAPI_WEBHOOK_BASE_URL=https://curvy-hands-smash.loca.lt